/*general css*/
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
}

body {
    background-color: rgb(29, 29, 29);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.top {
    display: flex;
    justify-content: center;
    width: calc(100vw - (100vw - 100%));
    height: 10vh;
    background-color: rgb(9, 8, 9);
    position: fixed;
}

.top-background {
    width: calc(100vw - (100vw - 100%));
    height: 10vh;
}

.top-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    width: calc(90vw - (100vw - 100%));
    height: auto;
    background-color: transparent;
}

.title-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
    height: auto;
    max-height: 10vh;
    cursor: pointer;
}

p {
    color: rgb(245, 245, 245);
    font-size: 0.75rem;
    margin-left: 5%;
    margin-right: 7.5%;
}

strong {
    color: rgb(245, 245, 245);
    font-size: 0.75rem;
}

input {
    margin-left: 5%;
}

h1 {
    color: rgb(245, 245, 245);
    margin-left: 5%;
    margin-top: 25px;
}

h2 {
    color: rgb(245, 245, 245);
    margin-left: 5%;
    font-size: 1rem;
}

h3 {
    color: rgb(245, 245, 245);
    margin-left: 5%;
    margin-top: 5px;
    font-size: 0.9rem;
}

u {
    color: rgb(245, 245, 245);
}

a {
    color: rgb(100, 100, 100);
    font-size: 1rem;
    text-decoration: none;
}

a:hover {
    color: rgb(245, 245, 245);
}

.indented {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.isbold {
    font-weight: bold;
}

.top-function-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    width: 180px;
    height: 40px;
}

.top-function {
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
    cursor: pointer;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 5vw; 
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    width: auto;
    height: auto;
    min-height: 590px;
    background-color: rgb(53, 53, 53);
    flex-direction: column;
}


/*home.html*/
.big-create-btn {
    align-self: center;
    margin-top: 25px;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    font-size: 1.25rem;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(150, 235, 150);
}

.big-create-btn:active {
    background-color: rgb(100, 160, 100);
}


/*rules.html*/
.level {
    width: 2.4rem;
    text-align: center;
    background-color: rgb(53, 53, 53);
    font-size: 1rem;
    margin-top: 5px;
    margin-left: 5vw;
}

.book-container {
    display: flex;
    margin-top: 25px;
    margin-left: 5vw;
    margin-right: 5vw;
    height: auto;
    width: auto;
}

.bookcover-img {
    height: 150px;
    width: auto;
}


/*create.html*/
.sections {
    position: fixed;
    top: 10vh;
    left: 0;
    height: auto;
    width: 50px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-left: 25px;
    padding-top: 10px;
    top: 10vh;
    left: -100%;
    width: 340px;
    min-height: 90vh;
    background: rgb(9, 8, 9);
    border: rgb(29, 29, 29) solid;
    border-right: transparent;
    border-bottom: transparent;
    transition: 0.3s;
}

.sidebar h3, .sidebar p{
    margin-left: 25px;
    margin-top: 5px;
}

.close-sidebar {
    position: fixed;
    height: auto;
    width: 50px;
    margin-left: 290px;
    margin-top: -5px;
    cursor: pointer;
}

.sidebar.active {
    left: 0;
}

.scrollbox-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-left: 5%;
}

.list-scrollbox {
    height: 300px;
    width: 320px;
    margin-top: 5px;
    margin-right: 5%;
    margin-bottom: 10px;
    overflow: auto;
    border: solid 2px rgb(245, 245, 245);
}

.info-scrollbox {
    height: 300px;
    width: 320px;
    margin-top: 5px;
    margin-right: 5%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    overflow: auto;
    border: solid 2px rgb(245, 245, 245);
}

textarea {
    font-size: 16px;
    width: 300px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    margin-left: 5%;
    overflow: auto;
    resize: none;
}

.trait-container {
    margin-left: 5%;
}

.trait-container > * {
    margin-left: 0;
}

.sample-races-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding-left: 5%;
}

.sample-classes-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding-left: 5%;
}

table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 320px;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 5%;
}

td, th {
    border-style: solid;
    border-color: rgb(29, 29, 29);
    border-width: 2px;
    border-color: rgb(245, 245, 245);
    font-size: 0.75rem;
    color: rgb(245, 245, 245);
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: rgb(29, 29, 29);
}

th {
    background-color: rgb(29, 29, 29);
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}

#modifierTable td:nth-child(3), #modifierTable td:nth-child(4), #modifierTable th:nth-child(3), #modifierTable th:nth-child(4) {
    background-color: rgb(53, 53, 53);
    border-top: transparent;
    border-bottom: transparent;
}

.stat-input {
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

#WhoIsYourCharacterHeader, #BackgroundHeader, #SampleBackgrounds, #WriteTraits, #WriteAppereance, #RaceHeader, #Races, #ClassHeader, #Classes, #Multiclassing, #Feats, #AbilityScores, #scoresTable {
    scroll-margin-top: 67.5px;
}


/*sheet.html*/





.sheet-pdf-container {
    width: 90%;
    height: 95%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.sheets-pdf {
    display: flex;
    width: 100%;
    height: 80vh;
    scroll-snap-align: start;
    scroll-margin: 5px;
}

@media screen and (max-width: 600px) {
    .main {
        margin: 0px;
    }

    .sheet-pdf-container {
        margin: 0px;
    }

    .sheets-pdf {
        width: 100vw;
        height: 100vh;
    }
}
