/*general css*/
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
}

body {
    background-color: rgb(29, 29, 29);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.top {
    display: flex;
    justify-content: center;
    width: calc(100vw - (100vw - 100%));
    height: 10vh;
    background-color: rgb(9, 8, 9);
    position: fixed;
}

.top-background {
    width: calc(100vw - (100vw - 100%));
    height: 10vh;
}

.top-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    width: calc(90vw - (100vw - 100%));
    height: auto;
    background-color: transparent;
}

.title-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
    height: auto;
    max-height: 10vh;
    cursor: pointer;
}

p {
    color: rgb(245, 245, 245);
    font-size: 0.75rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    margin-left: 5%;
}

h1 {
    color: rgb(245, 245, 245);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
}

h2 {
    color: rgb(245, 245, 245);
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 10px;
    font-size: 1rem;
}

u {
    color: rgb(245, 245, 245);
}

a {
    color: rgb(100, 100, 100);
    font-size: 1rem;
    text-decoration: none;
}

a:hover {
    color: rgb(245, 245, 245);
}

.indented {
    margin-left: 7.5%;
}

.isbold {
    font-weight: bold;
}

.top-function-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    width: 180px;
    height: 40px;
}

.top-function {
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
    cursor: pointer;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 5vw; 
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    width: auto;
    height: auto;
    min-height: 590px;
    background-color: rgb(53, 53, 53);
    flex-direction: column;
}


/*home.html*/
.big-create-btn {
    align-self: center;
    margin-top: 25px;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    font-size: 1.25rem;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(150, 235, 150);
}

.big-create-btn:active {
    background-color: rgb(100, 160, 100);
}


/*rules.html*/
.level {
    width: 2.4rem;
    text-align: center;
    background-color: rgb(53, 53, 53);
    font-size: 1rem;
    margin-top: 5px;
    margin-left: 5vw;
}

.book-container {
    display: flex;
    margin-top: 25px;
    margin-left: 5vw;
    margin-right: 5vw;
    height: auto;
    width: auto;
}

.bookcover-img {
    height: 150px;
    width: auto;
}


/*create.html*/
.sections {
    position: fixed;
    top: 10vh;
    left: 0;
    height: auto;
    width: 50px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-left: 25px;
    padding-top: 10px;
    top: 10vh;
    left: -100%;
    width: 340px;
    min-height: 90vh;
    background: rgb(9, 8, 9);
    border: rgb(29, 29, 29) solid;
    border-right: transparent;
    border-bottom: transparent;
    transition: 0.3s;
}

.close-sidebar {
    position: fixed;
    height: auto;
    width: 50px;
    margin-left: 290px;
    margin-top: -5px;
    cursor: pointer;
}

.sidebar.active {
    left: 0;
}

.sample-backgrounds-container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

.backgrounds {
    height: 300px;
    width: 320px;
    margin-top: 5px;
    margin-right: 7.5%;
    margin-bottom: 10px;
    overflow: auto;
    border: solid 2px rgb(245, 245, 245);
}

.background-info {
    height: 300px;
    width: 320px;
    margin-top: 5px;
    margin-right: 7.5%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    overflow: auto;
    border: solid 2px rgb(245, 245, 245);
}

textarea {
    font-size: 16px;
    width: 320px;
    height: 100px;
    padding-left: 20px;
    padding-top: 12px;
    overflow: auto;
    resize: none;
}

.trait-container {
    margin-left: 7.5%;
}

.trait-container > * {
    margin-left: 0;
}

