* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
}

body {
    background-color: rgb(29, 29, 29);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.top {
    display: flex;
    justify-content: center;
    width: calc(100vw - (100vw - 100%));
    height: 10vh;
    background-color: rgb(9, 8, 9);
    position: fixed;
}

.top-background {
    width: calc(100vw - (100vw - 100%));
    height: 10vh;
}

.top-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    width: calc(90vw - (100vw - 100%));
    height: auto;
    background-color: transparent;
}

.title-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
    height: 10vh;
    cursor: pointer;
    background-color: grey;
}

p {
    color: rgb(245, 245, 245);
    font-size: 0.75rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    color: rgb(245, 245, 245);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
}

a {
    color: rgb(100, 100, 100);
    border-radius: 7.5px;
    text-decoration: none;
}

a:hover {
    color: rgb(245, 245, 245);
}

.top-function-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    width: 220px;
    height: 40px;
}

.top-function {
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
    cursor: pointer;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 5vw; 
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    width: auto;
    height: auto;
    min-height: 650px;
    background-color: rgb(53, 53, 53);
    flex-direction: column;
}

.invisible-box {
    color: transparent;
    margin-top: 25px;
}

.big-create-btn {
    align-self: center;
    margin-top: 25px;
    width: 335px;
    height: 60px;
    border-radius: 20px;
    font-size: 1.5rem;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(150, 235, 150);
}

.big-create-btn:active {
    background-color: rgb(100, 160, 100);
}

